!./
/bin/
/platform/
chrome.pak
csgo.sh
csgo.exe
csgo_win64.exe
csgo_linux64
*.map
*.trace
*.pdb
*.dll
*.dll.*
*.so
*.so.*
steam_appid.txt
thirdpartylegalnotices.doc
vgcore.*
.idea/*
csgo_linux
srcds_linux

/csgo/*
# Dont ignore customized/added folders!
!/csgo/rocketui
!/csgo/rocketui/*
!/csgo/resource
!/csgo/resource/*
